*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;/*text color*/
    background-color: #007ea7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width:200px;
    align-items: center;
}

.speaker-form-header {
    text-align: center;
    background-color: #1d4e89;
    border: 1px solid #0c0074;
    border-radius: 15px;

    width: 80%;
    margin: 20px 0;
    padding: 50px;
}

.speaker-form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.speaker-form {
    background-color: #1d4e89; /*box color*/
    border: 1px solid #0c0074;
    border-radius: 15px;
    padding: 20px;
    margin: 0 0 40px 0; /*up, right, down, left*/
    
    width:80%;
    margin: 0 0 500px 0; /*up, right, down, left*/
    padding: 50px;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: azure;
    border: 1px solid azure;
    border-radius: 15px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 16px;
}

.legacy-form-row {
    border: none;
    margin-bottom: 40px;
}

.legacy-form-row legend { /*type of talk*/
    margin-bottom: 15px;;
}

.legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
}

.legacy-form-row input[type="radio"] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type="radio"] {
    float: left;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;

    color: #0c3634;
    background-color: #85cdca;

    border: none;
    border-radius: 5px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #53b3ae;
}

.form-row button:active {
    background-color: #48a19d;
}

@media only screen and (min-width: 700px) {
    .speaker-form-header,
    .speaker-form{
        width: 600px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row select,
    .form-row textarea {
        width: 370px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }
    .legacy-form-row {
        margin-bottom: 10px;
    }
    .legacy-form-row legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
    }
    .legacy-form-row legend {
        float: left;
    }
    .form-row button {
        margin-left: 180px;
    }
}